@font-face {
    font-family: 'Futura';
    src: url('../../../../public/fonts/Futura_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Geraldine';
    src: url('../../../../public/fonts/Geraldine.ttf') format('truetype');
}
/* src/app/utils/css/category.css */
@font-face {
    font-family: 'Ardilla';
    src: url('../../../../public/fonts/Ardilla.ttf') format('truetype');
}
@font-face {
    font-family: 'Cocomat';
    src: url('../../../../public/fonts/Cocomat Light-trial.ttf') format('truetype');
}

.font-ardilla {
    font-family: 'Ardilla', sans-serif;
}
.font-geraldine{
    font-family: 'Geraldine', sans-serif;
}
.font-futura{
    font-family: 'Futura', serif;
}
.font-cocmat{
    font-family: 'Cocomat', serif;
}

.color-green{
    color: #207020;
}
.max-width{
    max-width: 75rem;
}
.min-height{
    min-height: 73vh;
}
.color-grey{
    color: #595555;
}
.banner-container{
    max-height: 15rem;
    overflow-x: clip;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
}
.size-heading{
    font-size: 30px;
    letter-spacing: 3px;
}
.size-description{
    font-size: 20px;
    letter-spacing: 2px;
}
.size-desc2{
    font-size: 15px;
    letter-spacing: 2px;
}
.bg-button{
    background-color: #273d27;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 2px;
}
.size-img{
    width: 22rem;
    height: 75vh;
}
.desktop-hide{
    display: none;
}
@media only screen and (max-width: 600px) {
    .centre{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .size-img{
        width: 100%;
        height: 70vh;
    }
    .mobile-align{
      text-align: center;
        justify-content: center;
    }
    .mobile-margin{
        margin-left: 15px;
    }
    .mobile-banner{
        width: 100vw;
    }
    .mobile-hide{
        display: none;
    }
    .desktop-hide{
        display: flex;
    }

}
